<script>

let film_genre = [];
let resume = [];
let link = [];
let movie = [];

async function grab(film, tmdb) {

  const data = await fetch(`https://api.themoviedb.org/3/movie/${tmdb}?append_to_response=credits&language=fr-FR`, {
    method: 'get',
    headers: new Headers({
      'Authorization': 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiMmE0Y2YxZDUwNzlkOTMwYzA3YmVjYmJhZTBjNDI4YyIsInN1YiI6IjYwM2U5ZjE3ODQ0NDhlMDAzMDBlZWQwNSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.9CBeYye4C17jp29j77VjChML6ZJLwObLSolQW2GAhU4',
      'accept': 'application/json'
    })
  });

  const json = await data.json();
  console.log(json);

  // Genres
  for (let genre of json.genres) {
    const data = { film: film, genre: genre.id };
    film_genre.push(`${film},${genre.id}`)
  }

  // Résumé
  const data2 = { film: film, langue: 'fra', 'resume': json.overview };
  resume.push(`${film},fra,"${json.overview}"`);
  /*
  await fetch('http://127.0.0.1:8002/records/resume', {
    method: 'post',
    headers: new Headers({
      'X-API-Key': '02c042aa-c3c2-4d11-9dae-1a6e230ea95e',
      'Accept': 'application/json'
    }),
    body: JSON.stringify(data2)
  });
  */

  const data3 = { id: film, site: 1, lien: tmdb };
  link.push(`${film},1,${tmdb}`);
  link.push(`${film},2,${json.imdb_id}`);

  movie.push(`${film},"${json.title}","${json.original_title}",1986,1986-10-08,${json.runtime}`);

  /*
  await fetch('http://127.0.0.1:8002/records/Reference', {
    method: 'post',
    headers: new Headers({
      'X-API-Key': '02c042aa-c3c2-4d11-9dae-1a6e230ea95e',
      'Accept': 'application/json'
    }),
    body: JSON.stringify(data3)
  });
  */
}

/*
  grab('3d036187-2c03-4831-ac66-6bfdbf91ba1e', 679);
  grab("8f3d2c9a-7e51-4966-b561-80c59d8bcc31", 1103);

  grab("94666aeb-13c6-47d8-a8c9-6051636b6102", 1368);
  grab("890aa7dd-1bdb-468e-a6f3-c4ca7cf02c3a", 1366);
  grab("59b41a22-7f4f-45f2-bb9e-5397fb3a6408", 9387);
  grab("4636157e-7ed8-4472-bd59-cb5442604773", 78830);
  grab("428bc8c4-3f25-4a21-862e-f5d4abd1cf2c", 78);
  grab("67db43b0-0dc8-4159-8848-98ee0c98f16e", 150);
  grab("a9f73754-847d-43b7-9529-bfe7fecd487f", 1091);
  grab("fb74c2f9-8ef1-433e-a067-746b5e0bfd59", 601);
  grab("1a2693ad-3f29-408b-8b7c-b490f2287f7e", 609);
  grab("1a316e25-c81d-4a98-92ec-7147c6c72ff1", 14645);
  grab("771f7f14-bdbf-4c61-8758-5bd200dbeada", 304322);
  grab("c818af7e-20e9-4172-b022-cb605f235a3f", 860);

  grab("48535f31-8882-4263-af41-c9c0f87c8a1c", 79756);
  grab("ecfc4dc1-57a8-4ef7-978f-0ee5f38843cb", 10484);
  grab("df58b6ff-2faa-4a5e-a125-10fdae3fa7a7", 6341);
  grab("dacfc97e-7ad7-4fe1-ba9a-f1f2e956fa4c", 535);
  grab("49006841-5ff8-4149-8c0a-1b87a158392f", 17692);
  grab("a4edd221-02cc-4d8d-b599-c561004cb38d", 1621);
  grab("f97f9b4e-9d81-40ab-a15d-a229e05ed046", 48769);
  grab("08d8ac52-4e53-4810-abe5-d9fd59025be8", 78409);
  grab("e155fb8f-15f9-4285-a742-7cc2a54aabcf", 927);
  grab("14e6d221-0a9e-4a3b-a311-ccb05d663b9a", 90);
  grab("278988e2-b6e2-4bec-9f37-3f4fadda6454", 15379);
  grab("8cf850f7-427a-4b4e-83f8-57690c774a37", 9326);
  grab("1e94a4eb-3268-4e30-81a2-56cac00d56ea", 9610);
  grab("c8569fc1-cf9f-4f55-9c6c-d100595847f6", 218);
  grab("ec6a42ec-6c44-495f-beca-ecc4c3dc093e", 1367);
  grab("7ca570a2-2cd8-4f27-a324-d732e9ba3294", 578);
  grab("9ab02769-fa4b-41e4-ba7f-17eb8825dfa0", 8810);
*/

  grab("110d3753-c18e-45b8-9f4d-cf2736abe00a",2038);
  grab("d9e484d0-3dcc-49b8-b4bb-c2babe11b19e",11037);
  grab("0e872cc4-c429-428c-8c71-a62fb4c24c96",11955);
  grab("fb855bea-eec0-4204-be37-7986abaf6887",12500);
  grab("06480b5c-ced6-42bc-8bbc-9747023cf799",87736);
  grab("da9120a9-5384-4692-8032-b7297dcf0250",52657);
  grab("4544a546-42da-4757-8499-041a20af38c9",87777);
  grab("bda4765b-36ed-4693-b2af-e3d2ecec462b",16113);
  grab("97d149d2-57d0-489c-93e7-6d8adcc0f9f9",9399);
  grab("96222ab6-29a3-4043-b5c2-a90a386c0d97",15983);
  grab("46b5ed45-a5bd-4f51-8f0a-54e647ebc7ce",11623);
  grab("a4bd9509-19e3-476d-848d-518ad20b742c",38575);
  grab("4e7872c0-5351-471d-b26f-27a6f90fdfed",25678);
  grab("3d3ea7a8-8b5b-4392-81bb-d08dde330acc",9395);
  grab("0bed1543-84ac-4c53-be68-43299ced4897",48457);
  grab("b657e15a-9e33-4b6a-a39f-2f22d56e1a6f",12764);
  grab("2ed1d67e-a806-4e35-b625-ca2b029e366c",1694);
  grab("b5142384-c03e-4d50-93e0-75a438484955",87779);
  grab("428373c3-7ce0-44c2-b46b-3e5ed3c019b3",2320);
  grab("318660da-1c50-40f0-9f4c-2291ec6ee0c6",21380);





function go() {
  document.write('<p>');
  document.write(film_genre.join('<br>'));
  document.write('</p><p>');
  document.write(resume.join('<br>'));
  document.write('</p><p>');
  document.write(link.join('<br>'));
  document.write('</p>');
}
</script>
